/* color pallete - #E3DBDB gainsboro, #C9D5B5 pale silver, #9F9F92 spanish gray, #6D6466 granite gray, #4E3D42 dark puce */

header {
	background-color: #C9D5B5;

}

h1 {
	border-bottom: .1em solid;
	border-color: #4E3D42
}

h2, h3 {
	border-bottom: .18em double ;
	border-color: #4E3D42;
}


body {
	background-color: #E3DBDB;
}

header {
	border: .25em double #4E3D42;
	border-radius: .2em;
}

header > h1 {
	text-align: center;
}

nav > ul {
	list-style-type: none;
	text-align: center;
}